<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Cocono</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <!--====== Slick css ======-->
    <link rel="stylesheet" href="/css/slick.css">

    <!--====== Animate css ======-->
    <link rel="stylesheet" href="/css/animate.css">

    <!--====== Nice Select css ======-->
    <link rel="stylesheet" href="/css/nice-select.css">

    <!--====== Nice Number css ======-->
    <link rel="stylesheet" href="/css/jquery.nice-number.min.css">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="/css/magnific-popup.css">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!--====== Fontawesome css ======-->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="/css/default.css">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="/css/style.css">

    <!--====== Responsive css ======-->
    <link rel="stylesheet" href="/css/responsive.css">


</head>

<body>

<!--====== PRELOADER PART START ======-->

<div class="preloader">
    <div class="loader rubix-cube">
        <div class="layer layer-1"></div>
        <div class="layer layer-2"></div>
        <div class="layer layer-3 color-1"></div>
        <div class="layer layer-4"></div>
        <div class="layer layer-5"></div>
        <div class="layer layer-6"></div>
        <div class="layer layer-7"></div>
        <div class="layer layer-8"></div>
    </div>
</div>

<!--====== PRELOADER PART START ======-->

<!--====== HEADER PART START ======-->

<header id="header-part">

    <div class="header-top d-none d-md-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8">
                    <div class="header-contact text-lg-left text-center">
                        <ul>
                            <li><img src="../images/all-icon/call.png" alt="icon"><span>(124) 123 675 598</span></li>
                            <li><img src="../images/all-icon/email.png" alt="icon"><span>info@yourmail.com</span></li>
                            <li><img src="../images/all-icon/map.png" alt="icon"><span>RMIT 521 Kim Mã, Đống Đa, Hà Nội</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="header-social text-lg-right text-center">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- header top -->

    <div class="navigation navigation-2">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-11 col-md-10 col-sm-9 col-9">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="../index.php">
                            <img src="../images/cocono.png" alt="Logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="active" href="../index-2.php">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="../index.php">Home 01</a></li>
                                        <li><a class="active" href="../index-3.php">Home 02</a></li>
                                        <li><a href="../index-4.php">Home 03</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="courses_management.php">Courses Management</a>
                                    <ul class="sub-menu">
                                        <li><a href="add_course.php">Add course</a></li>
                                        <li><a href="edit_course.php">Edit course</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="../courses.php">Courses</a>
                                    <ul class="sub-menu">
                                        <li><a href="../courses.php">Courses</a></li>
                                        <li><a href="../courses-singel.php">Course Singel</a></li>
                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a href="../teachers.php">Teachers Management</a>
                                    <ul class="sub-menu">
                                        <li><a href="../teachers.php">teachers</a></li>
                                        <li><a href="../teachers-singel.php">teacher Singel</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="../blog.php">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="../blog.php">Blog</a></li>
                                        <li><a href="../blog-singel.php">Blog Singel</a></li>
                                    </ul>
                                </li>


                            </ul>
                        </div>
                    </nav> <!-- nav -->
                </div>
                <div class="col-lg-1 col-md-2 col-sm-3 col-3">
                    <div class="right-icon text-right">
                        <ul>
                            <li><a href="#" id="search"><i class="fa fa-search"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i><span>0</span></a></li>
                        </ul>
                    </div> <!-- right icon -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div>

</header>

<!--====== HEADER PART ENDS ======-->

<!--====== SEARCH BOX PART START ======-->

<div class="search-box">
    <div class="serach-form">
        <div class="closebtn">
            <span></span>
            <span></span>
        </div>
        <form action="#">
            <input type="text" placeholder="Search by keyword">
            <button><i class="fa fa-search"></i></button>
        </form>
    </div> <!-- serach form -->
</div>

<!--====== SEARCH BOX PART ENDS ======-->


<!--====== PAGE BANNER PART ENDS ======-->

<section id="page-banner" class="pt-105 pb-130 bg_cover" data-overlay="8" style="background-image: url(../images/page-banner-6.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Courses Management</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Staff</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Courses Management</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== SLIDER PART ENDS ======-->

<!--====== CATEGORY PART START ======-->

<section id="category-2-part" class="pt-105 pb-170 bg_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="category-2-items pt-10">
                    <h2>Categories</h2>
                    <div class="row">
                        <?php while ($category =  mysqli_fetch_assoc($categories_set)) {?>
                        <div class="col-md-3">
                            <div class="singel-items text-center mt-30">
                                <div class="items-image">
                                    <img src="../images/category/ctg-1.jpg" alt="Category">
                                </div>
                                <div class="items-cont">
                                    <a href="courses_management.php?id=<?php echo $category['id_ca']; ?>">
                                        <h5><?php echo $category['name_ca']; ?> </h5>
                                        <span><?php echo count_course_category($category['id_ca']); ?> courses</span>
                                    </a>
                                </div>
                            </div> <!-- singel items -->
                        </div>
                        <?php } ?>

                    </div> <!-- row -->
                </div> <!-- category -->
            </div>

        </div> <!-- row -->
    </div> <!-- container -->
</section>

<!--====== CATEGORY PART ENDS ======-->

<!--====== COURSE PART START ======-->

<section id="course-part" class="pt-10 pb-115">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title pb-45">
                    <h5>Our course</h5>
                    <h2><?php echo $category_chosen['name_ca']; ?> courses </h2>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        <div class="row">
            <?php while ($course = mysqli_fetch_assoc($courses_set)) {?>
            <div class="col-lg-4">
                <div class="singel-course-2">
                    <div class="thum">
                        <div class="image">
                            <img src="../<?php if($course['path_pic']!='') echo $course['path_pic']; else echo "images/course/unknow.png";?>" alt="Course">
                        </div>
                        <div class="price">
                            <span><?php echo $course['price']; ?></span>
                        </div>
                        <div class="course-teacher">
                            <div class="thum">
                                <a href="../courses-singel.php"><img src="../images/course/teacher/t-1.jpg" alt="teacher"></a>
                            </div>
                            <div class="name">
                                <a href="#"><h6><?php echo get_teacher_by_id($course['id_te'])['name_te']; ?></h6></a>
                            </div>
                            <div class="review">
                                <ul>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="cont">
                        <a href="edit_course.php?id=<?php echo $course['id_co']; ?>"><h4><?php echo $course['name_co']; ?></h4></a>
                    </div>
                </div> <!-- singel course -->
            </div>
            <?php } ?>
            <div class="col-lg-4">
                <div class="singel-course-2">
                    <div class="thum">
                        <a href="add_course.php">
                            <div class="image">
                                <img src="../images/course/new_course.png" alt="Course">
                            </div>
                        </a>
                    </div>
                </div> <!-- singel course -->
            </div>
        </div> <!-- course slied -->
    </div> <!-- container -->
</section>
<?php } ?>

<!--====== FOOTER PART START ======-->

<footer id="footer-part">
    <% include ../shared/footer_2.ejs %>
</footer>

<!--====== FOOTER PART ENDS ======-->

<!--====== BACK TO TP PART START ======-->

<a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

<!--====== BACK TO TP PART ENDS ======-->








<!--====== jquery js ======-->
<script src="/js/vendor/modernizr-3.6.0.min.js"></script>
<script src="/js/vendor/jquery-1.12.4.min.js"></script>

<!--====== Bootstrap js ======-->
<script src="/js/bootstrap.min.js"></script>

<!--====== Slick js ======-->
<script src="/js/slick.min.js"></script>

<!--====== Magnific Popup js ======-->
<script src="/js/jquery.magnific-popup.min.js"></script>

<!--====== Counter Up js ======-->
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.counterup.min.js"></script>

<!--====== Nice Select js ======-->
<script src="/js/jquery.nice-select.min.js"></script>

<!--====== Nice Number js ======-->
<script src="/js/jquery.nice-number.min.js"></script>

<!--====== Count Down js ======-->
<script src="/js/jquery.countdown.min.js"></script>

<!--====== Validator js ======-->
<script src="/js/validator.min.js"></script>

<!--====== Ajax Contact js ======-->
<script src="/js/ajax-contact.js"></script>

<!--====== Main js ======-->
<script src="/js/main.js"></script>

<!--====== Map js ======-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDC3Ip9iVC0nIxC6V14CKLQ1HZNF_65qEQ"></script>
<script src="/js/map-script.js"></script>

</body>
</html>
